.searchResults {
    color: white;
    height: auto;
    width: 48%;
    background: linear-gradient(45deg, rgb(226, 169, 213), rgb(61, 4, 84));
    margin: auto;
}

h3 {
  text-align: center;
  
}
/* button {
    background: transparent;
    margin-left: 90%;
} */
ul{
    width: 90%;
    height: auto;
    border: 2px solid grey;
    position: relative;
  }
  li{
    list-style-type: none;
  }
  .resultBtn{
    position: absolute;
    top: 30%;
    left: 90%;
  }